*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  line-height: 0.9;
}
p {
  margin: 0;
}
/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.map-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.map-wrapper {
  width: 100%;
  height: 84.5vh;
}
.cluster img[width="53"] ~ div {
  color: white !important;
}
.combobox-wrapper {
  position: fixed;
  top: calc(12vh + 8px);
  left: 2vw;
  z-index: 10;
  display: flex;
}
.combobox {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.22);
  border-radius: 7px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(96vw - 56px);
}
.combobox-input {
  width: 100%;
  border: 0px;
  border-radius: 5px;
  font-size: 16px;
  padding: 12px;
}
.combobox-input:focus {
  outline: none;
}
[data-reach-combobox-option] {
  padding: 12px 12px !important;
}
[data-reach-combobox-option]:hover {
  color: #282a35;
}
span[data-user-value="true"] {
  font-weight: bolder;
}
span[data-suggested-value="true"] {
  font-weight: lighter;
}
#swal2-title {
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .combobox {
    width: 30vw;
  }
  .combobox-popover {
    width: 30vw !important;
  }
  .map-wrapper {
    height: 83vh;
  }
}
